.App-body {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
  position: relative;
  text-align: center;
}